<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <style>
        body {
            background: #0e0e10;
            color: white;
            font-family: Arial;
            text-align: center;
            padding-top: 50px;
        }
    </style>
</head>
<body>
    <h1><%= title %></h1>
    <p><%= message %></p>

    <a href="/ping" style="color:#0bf;">Testar API</a>
</body>
</html>
