<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>KETSU Checker - Painel</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav class="navbar">
    <div>
        <a href="/">Dashboard</a>
        <a href="/submissions">Submissões</a>
    </div>
</nav>

<div class="container">
    <%- content %>
</div>

</body>
</html>
