<%- include("layout", { content: `
<h1>Todas as Submissões</h1>

<table>
    <tr>
        <th>Nick</th>
        <th>Servidor</th>
        <th>Clan</th>
        <th>Usuário</th>
        <th>Data</th>
    </tr>
    ${submissions.map(s => `
        <tr>
            <td>${s.nick}</td>
            <td>${s.server}</td>
            <td>${s.clan}</td>
            <td>${s.username}</td>
            <td>${new Date(s.timestamp).toLocaleString()}</td>
        </tr>
    `).join("")}
</table>
` }) %>
