body {
    background: #111;
    color: #eee;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background: #181818;
    padding: 15px;
    margin-bottom: 30px;
}

.navbar a {
    color: #0af;
    margin-right: 20px;
    text-decoration: none;
    font-size: 18px;
}

.container {
    width: 90%;
    margin: auto;
}

h1, h2 {
    color: #0af;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.card {
    background: #222;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
}

.big {
    font-size: 40px;
    font-weight: bold;
    color: #0af;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #222;
    color: #0af;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #333;
}

tr:hover {
    background: #222;
}
